/* basic code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.25%;
}
body{
    font-size: 1.6rem;
    font-family: sans-serif;
    background-image: url(https://images.pexels.com/photos/6057666/pexels-photo-6057666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    /* object-fit: cover; */
    
    
    
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: -25%;
    width: 50%;
    height: 100%;
    background-color: #03a9fa;
    opacity: 0.8;
}
/* form code */
.form{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 35rem;
    min-height: 40rem;
    background-color: white;
    box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, .5);
    padding: 5rem;
}


.form h2{
    color: #777;
    margin: 0 0 4rem;
    padding: 0;
    text-transform: capitalize;
}
.form .input-box{
    margin: 2rem 0;
    position: relative;
}
.form .input-box input{
    width: 100%;
    border: none;
    border-bottom: 2px solid #777;
    outline: none;
    padding: 1rem;
    padding-left: 2.5rem;
    color: #777;
    font-size: 1.6rem;
    font-weight: bold;
}
.form .input-box input:focus,
.form .input-box input:valid{
    border-bottom: 2px solid #03a9fa;
}
.form .input-box i{
    position: absolute;
    top: .8rem;
    left: 0;
    font-size: 1.8rem;
    color: #777;
    
}
.form .input-box input[type="submit"]{
    border: none;
    cursor: pointer;
    background-color: #03a9fa;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
}
.form .input-box input[type="submit"]:hover{
    background-color: #ff4987;
}
.form a{
    text-decoration: none;
    color: #777;
    margin-top: 2rem;
    font-weight: bold;
    display: inline-block;
    transition: .5s;
    text-transform: capitalize;

}
.form a:hover{
    color: #ff4987;
}