/* basic style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.25%;
}
body{
    font-size: 1.6rem;
    background-color: black;
    font-family: sans-serif;

    
}
.login_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 35rem;
    min-height: 20rem;
    border-radius: 1rem;
    padding: 4rem;
}
.img{
    max-width: 10rem;
    max-height: 10rem;
    margin: 0 auto;
    margin-bottom: 2rem;

}
.img1{
    width: 100%;
    max-height: 10rem;
}
h3{
    margin: 0;
    padding: 0 0 2rem;
    text-align: center;
    color: #262626;
}
.login_box input{
    width: 100%;
    margin-bottom: 2rem;
}
.login_box input[type="text"],
.login_box input[type="password"]{
    border: none;
    border-bottom: .2rem solid #262626;
    height: 4rem;
    outline: none;
    color: #262626;
    background-color: transparent;
    padding-left: 2rem;
}

.login_box input[type="text"]:focus,
.login_box input[type="password"]:focus{
    border-bottom: .2rem solid #f00;
}
.inputbox{
    position: relative;
}
.inputbox span{
    position: absolute;
    top: 1rem;
    left: 0rem;
    color: #262626;
}

.login_box input[type="submit"]{
    border: none;
    outline: none;
    height: 4rem;
    background-color: #ed292a;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
}
a{
    color: #262626;
    font-size: 1.4rem;
    text-decoration: none;
    text-align: center;
    display: block;
    text-transform: capitalize;
    font-weight: bold;
}